
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.navbar{
    background-color: black;
    display: flex;
    height: 11vh;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
}
.icon{
    margin-left: 2vw;
}
#home{
    background-color:rgb(50, 50, 50);
    border: none;
    width: 8vmin;
    height: 8vmin;
    border-radius:50% ;
}
#home img {
    fill: rgb(50, 50, 50)
}
.search{
    position: absolute;
    left:29vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.search-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar input {
    height: 8vh;
    width: 30vw;
    font-size: 1rem;
    color: white;
    background-color: rgb(50, 50, 50);
    border: none;
}
.search-con img{
    height: 4vh;
    background-color: rgb(50, 50, 50);
    padding: .75rem;
}
#srhico{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#fldico{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
}
.sign button {
    height: 8vh;
    width: 8vw;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
#signup{
    background-color: black;
    color: #828282;
}
#login{
    background-color: white;
    color: black;
    margin-right: 1vw;
}
.main {
    display: flex;
    justify-content: space-between;
}
.left-main{
    width: 24vw;
    height: 80vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
.navigate{
    background-color: rgb(10,10,10);
    border-radius: 10px;
    margin-left: 10px;
}

.navigate ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
    font-size: 18px;
    gap: 30px;
    list-style: none;
    margin-left: 15px;
    padding: 15px;
}
.library{
    padding: 15px;
    color: rgb(100, 100, 100);
    background-color:rgb(10 10 10);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 20px;
}
#lib{
    background-color:rgb(10 10 10);
}
#plus{
    margin-left: 150px;
}

.playlist{
    padding: 20px;
    color: white;
    background-color:rgb(10 10 10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}
#play1{
    font-size: 18px;
    font-weight: 700;
}
#play2{
    font-weight: 400;
    font-size: 16px;
}
.playlistbtn{
    height: 4vh;
    width: 6vw;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    background-color: white;
    color: black;
    margin-right: 1vw;
    align-content: end;
}
.left-footer{
    padding: 20px;
    color: white;
    background-color:rgb(10 10 10);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
}
.left-footer p {
    font-size: 12px;
    margin-right: 10px;
}
#cookies{
    font-size:14px ;
}
.lang-btn{
    border-radius: 20px;
    height: 32px;
    width:95px ;
    padding:3px 15px 3px 32px;
}
.right-main{
    color: white;
    background-color:rgb(10 10 10);
    width: 75vw;
    height: 80vh;
    overflow-y:scroll;
    overflow-x: hidden;
}
.popart{
    margin-top: 1.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.card-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    margin-top: 15px;
}
.artimg{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}